{% extends "catalog/base_generic.html" %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% block content %}
	<div style="background: grey; color: white">Book List</div>
	{% if book_list %}
	<ul>
	{% for book in book_list %}
	<li>
		<p>	<a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (<a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>)</p>
	</li>
	{% endfor %}
	</ul>
	{% else %}
	<h2>No books found </h2>
	{% endif %}
	<div style="margin-left:20px;margin-top:20px">
    {% endblock %}


</body>
</html>